/** {*/
/*    color: red;*/
/*}*/

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.missing {
    color: red;
    font-weight: normal;
}

.present {
    color: green;
    font-weight: normal;
}

.missing-info {
    font-size: 14px;
    color: gray;
}
