/* Header */
header {
  padding: 20px 0;
  border-bottom: 2px solid var(--primary-green);
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 42px;
  margin-top: 20px;
  text-align: center;
  position: relative;
}



h1 img{
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  margin-right: 150px;
  width: 40px;
  height: 40px;
}
